<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Username</key>
	<string>__USERNAME__</string>
	<key>Password</key>
	<string>__PASSWORD__</string>
	<key>StatisticsPassword</key>
	<string>__STATISTICS_PASSWORD__</string>
	<key>UserAgent</key>
	<string>Searcher/1.0.0 (Macintosh; Intel Mac OS X 10_14_6)</string>
</dict>
</plist>
