<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tournamentTypes</key>
	<array>
		<dict>
			<key>name</key>
			<string>$3.50 NL Hold&apos;em [18 Players, Turbo]</string>
			<key>number</key>
			<string>2770568108</string>
			<key>handsPlayed</key>
			<integer>135</integer>
			<key>blindLevelTime</key>
			<real>2</real>
			<key>blindLevels</key>
			<array>
				<string>10/20 ante 3</string>
				<string>15/30 ante 4</string>
				<string>25/50 ante 6</string>
				<string>40/80 ante 10</string>
				<string>60/120 ante 15</string>
				<string>80/160 ante 20</string>
				<string>100/200 ante 25</string>
				<string>150/300 ante 25</string>
				<string>200/400 ante 25</string>
				<string>300/600 ante 50</string>
				<string>400/800 ante 50</string>
				<string>500/1000 ante 60</string>
				<string>600/1200 ante 75</string>
				<string>800/1600 ante 75</string>
				<string>1000/2000 ante 100</string>
				<string>1500/3000 ante 150</string>
				<string>2000/4000 ante 200</string>
				<string>3000/6000 ante 300</string>
				<string>4000/8000 ante 400</string>
				<string>6000/12000 ante 600</string>
				<string>8000/16000 ante 800</string>
				<string>10000/20000 ante 1000</string>
				<string>15000/30000 ante 1500</string>
				<string>20000/40000 ante 2000</string>
				<string>25000/50000 ante 2500</string>
				<string>30000/60000 ante 3000</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
